.gradle/
bin/
.idea/
target/
parameters*.json
cmake-build*
.venv
__pycache__/
build/reports
jdbc/.gradle
jdbc/build
odbc_tests/cmake-build
parameters.json
pep249_dbapi/build
pep249_dbapi/pep249_dbapi.egg-info/
pep249_dbapi/reports
pep249_dbapi/snowflake_pep249_dbapi.egg-info/
**/rsa_key.p8

# Python/Cython build artifacts
python/src/snowflake/ud_connector/_internal/nanoarrow_cpp/ArrowIterator/arrow_stream_iterator.cpp
python/src/snowflake/ud_connector/_internal/*.so
*.egg-info/
universal_driver_e2e_test_coverage.html
sf_core/src/bin
.vscode
tests/wiremock/__files/*
